<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%level] [%d{MM:dd HH:mm:ss.SSS}]  [%logger{36}] - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="logs/logs.log"
                     filePattern="logs/SpringSkeleton-%d{yyyy-MM-dd.HH}-%i.log">
            <PatternLayout>
                <Pattern>[%-5level] %d{dd-MMM HH:mm:ss} %-30.30c{2} --> %msg%n
                </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="40MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile" level="error"/>
        </Root>
    </Loggers>
</Configuration>
